DB_URL=jdbc:mysql://localhost:3306/asm02?
DB_USER=root
DB_PASSWORD=rootPassword
ENVIRONMENT=DEVELOPMENT
FILE.UPLOAD-DIR=static/uploads/
FILE.IMAGE-DIR=images/
FILE.CV-DIR=cv/
FILE.OTHER=others/
FILE.MAX-NAME-LENGTH=255
PAGINATION.JOB-POST.SIZE=4
PAGINATION.JOBS.SIZE=6
PAGINATION.APPLICATIONS.SIZE=12
PAGINATION.COMPANIES.SIZE=3
email.username=H9rYB@example.com
email.password=Password
email.verification=true
server.servlet.session.timeout=1m
## mailSender.setUsername("liangsandoan@gmail.com");
## mailSender.setPassword("tunl igjj jbow ghih");
## NB! Steps to use  Gmail:
## 1. Enable "2-step verification" in https://myaccount.google.com/lesssecureapps
## 2. Generate "App password" at https://myaccount.google.com/apppasswords
## 3. Replace the generated "App password" in "email.password"