<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="vn">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{label.posts}">Jobs Posted</title>
    <div th:replace="fragments::common-resources-top"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments::header(activeTab='jobs-posted')"></div>
    <div class="content text-center">
        <h1 th:text="#{label.posts}"></h1>
        <th:block th:if="${posts==null || posts.size()==0}">
            <div class="card mt-5 text-center">
                <h3 class="mt-4" th:text="#{message.info.no-post-yet}">
                    Chưa có bài đăng nào, tạo mới?
                </h3>
            </div>
        </th:block>
        <th:block th:unless="${posts.size()==0}">
            <th:block th:each="post : ${posts}">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row  justify-content-between">
                            <div class="col-7 align-self-center">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="text-primary fs-5 fw-bold" th:text="${post.type}">
                                        FullTime
                                    </div>
                                    <h4 th:text="${post.title}"> Tuyến lập trình viên .NET</h4>
                                    <div class="d-flex">
                                        <div>
                                            <i class="bi bi-building"></i>
                                            <span class="text-muted" th:text="${post.company}">FPT Software</span>
                                        </div>
                                        <div class="ms-3">
                                            <i class="bi bi-geo-alt-fill"></i>
                                            <span class="text-muted" th:text="${post.address}">Đà Nẵng</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 align-self-center">
                                <div class="d-flex justify-content-end">
                                    <a class="btn btn-primary me-2" th:href="@{/job/{id}(id=${post.id})}"
                                       role="button" th:text="#{label.view-detail}">View Detail</a>
                                    <a class="btn btn-warning me-2" role="button" th:href="@{/recruiter/job-post/{id}(id=${post.id})}"
                                            th:text="#{label.update}">Update</a>

                                    <button class="btn btn-danger" th:text="#{label.delete}" data-bs-toggle="modal"
                                            th:attr="data-bs-target=|#deleteJobPostModal_${post.id}|">
                                            Delete</button>
                                    <div class="modal fade" th:id="'deleteJobPostModal_'+${post.id}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="|#{label.delete} #{label.job} ${post.title}|">Delete Modal</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form  th:action="@{/recruiter/delete-post/{id}(id=${post.id})}" method="post">
                                                        <input type="hidden" id="jobPostId" name="jobPostId" th:value="${post.id}">
                                                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" th:text="#{label.confirm}">
                                                        </button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{label.cancel}">
                                                            Cancel
                                                        </button>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </th:block>
        <div th:replace="fragments::pagination(${currentPage}, ${totalPage})"></div>
    </div>
</div>
<!--/* Model Sections */-->
<!--/* Delete Logo*/-->

<div th:replace="fragments::common-resources-bottom"></div>
<div th:replace="fragments::flash-message-consumer"></div>
</body>
</html>